
/*메인메뉴*/
#container{
    width: 1280px;
    height: 800px;
    background-color: #212E36;
    margin-top: auto;
    margin-bottom: auto;
}

.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#logo{
    padding-top: 10%;

}

#howplay{
    width: 180px;
    height: 10%;
    padding-top: 5%;

}

#start{
    width: 180px;
    height: 10%;
    padding-top: 3%;

}

canvas {
    display: block;
    border: 1px solid black;
    border-bottom: 0;
}
div {
    border: 1px solid black;
    float: left;
    height: 400px;
    margin: 0;
}
#blockStage {
    width: 440px;
    border-right: 0;
}
#blockPlay {
    width: 840px;
}

.block {
    height: 15%;
    margin: 5%;
}