
/*메인메뉴*/

#container{
    width: 1280px;
    height: 800px;
    background-color: #212E36;
    margin-top: auto;
    margin-bottom: auto;
    background-image: url(pic/index/gamebackground.jpg)
}

.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
}



#howplay{
    padding-left: 62%;
    padding-top: 38.5%;
}

#start{
    padding-left: 62%;
    padding-top: 1%;
}

canvas {
    display: block;
    border: 1px solid black;
    border-bottom: 0;
}

div {
    border: 1px solid black;
    float: left;
    height: 400px;
    margin: 0;
}

/*stage 1*/

#play_container{
    width: 1280px;
    height: 800px;
}

#cat {
    position:absolute;
    width: 100px;
    top:500px; 
    left:315px;
}

#blockStage {
    width: 300px;
    height: 600px;
    border-right: 0;
}

#blockPlay {
    width: 1279px;
    height: 198px;
    
}

.block {
    height: 15%;
    margin: 5%;
    margin-left: 35px;
    margin-top:35px;
}

.block:hover {
    width : 240px;
    margin-left: 30px;
}

#trash{
    position: absolute;
    width: 70px;
    height: 70px;
    top : 720px;
    left : 1185px;

}

#play{
    position: absolute;
    width: 80px;
    height: 80px;
    top : 625px;
    left : 1180px;

}

#play1{
    margin-left: 70px;
}

.playblocks{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    
}

#stage1_gameMain {
    background-image: url(pic/stage/background/stage1_back.jpg);
}

#stage2_gameMain {
    background-image: url(pic/stage/background/stage2_back.jpg);
}

#stage3_gameMain {
    background-image: url(pic/stage/background/stage3_back.jpg);
}

#stage1_towel1{
    position: absolute;
    top: 560px;
    left: 440px;
    display: none;
}

#stage1_towel2{
    position: absolute;
    top: 320px;
    left: 790px;
    display: none;
}

.heart {
    position: absolute;
    width: 40px;
    top: 20px;
}


/*하트*/
#hrt3 {
    left: 320px;
}

#hrt2 {
    left: 363px;
}

#hrt1 {
    left: 406px;
}

#layerPopup {
    position: absolute;
    top: 150px;
    left: 500px;
    border: 0;
    visibility: hidden;
}

#gameOver {
    position: absolute;
    z-index: 2;
}
#goBtn {
    position: absolute;
    z-index: 3;
    top: 290px;
    left: 125px;
}

#stopBtn {
    position: absolute;
    z-index: 3;
    top: 290px;
    left: 320px;
}